@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --initial-rotation: 0deg;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: radial-gradient(rgb(255, 255, 255) 30%,rgb(225, 225, 225) 80%);
    background-size: 120vw 120vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "DM Sans", sans-serif;
}

button, .thumb-track, .tile-inner, a {cursor: pointer;}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex {display: flex;}

.wrapper {
    --padding: 1.5rem;
    position: fixed;
    inset: 0;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding);
    align-items: center;
    gap: 1.5rem;
}

.game-container {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    align-items: center;
    border-radius: .25rem;
    filter: drop-shadow(0 0.125rem 0.125rem rgba(0,0,0,0.5));
    transition: filter var(--transition-time) ease,
                translate 1s ease;
}

.game-container:has(.reveal) {
    filter: drop-shadow(0 0.125rem 0.125rem rgba(0,0,0,0));
}

body:has(.send-message.active) .game-container {translate: 0 -10%;}

.tiles {
    position: relative;
    perspective: 400px;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.fullscreen-image {
    position: absolute;
    pointer-events: none;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: transparent;
    z-index: 50;
    opacity: 0;
    transition: 500ms ease opacity;
}

.fullscreen-image.active {opacity: 1;}

.fullscreen-image > * {
    background-image: var(--tile-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fullscreen-image > div:last-child {transform: scaleX(-1);}

.tiles > .tile {
    --border-radius: .4rem;
    --transition-time: 500ms;
    position: absolute;
    aspect-ratio: 1 / 1;

    cursor: pointer;

    transform-style: preserve-3d;
    transform-origin: var(--transform-origin);
    
    border-radius: var(--border-radius);
    border-width: 0px;
    border-color: transparent;

    transition: var(--transition-time) ease all;

    background: transparent;
    border: none;
}

.tile.active .tile-inner {
    --flip: 0deg;
}

/* default = face-down */
.tile .tile-inner {
    --flip: 180deg;
}

.tile.reveal {
    --border-radius: 0rem;
}

.tile-inner {
    position: absolute;
    inset: 0;

    transform-style: preserve-3d;
    transform: rotate(var(--rotation, 0deg)) rotateY(var(--flip));
    transition: transform var(--transition-time) ease;
    border-radius: var(--border-radius);
}

.tile-inner::before {
    content: '';
    position: absolute;
    inset: 0;

    /* IMAGE */
    background-image: var(--tile-image);
    background-size: var(--image-size);
    background-position: var(--tile-offset);
    background-repeat: repeat-x;
    border-radius: var(--border-radius);
    border-width: 0px;
    border-color: transparent;

    /* COLOUR OVERLAY */
    background-color: var(--bg-colour);
    background-blend-mode: screen;

    backface-visibility: hidden;

    transition: all var(--transition-time) ease;
}

.tile-inner::after {
    content: '';
    position: absolute;
    inset: 0;

    background: radial-gradient(
        rgb(36, 36, 90),
        rgb(25, 25, 71)
    );

    border-radius: var(--border-radius);
    border-width: 0px;
    border-color: transparent;

    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all var(--transition-time) ease;
}

.tile.reveal .tile-inner {
    border-radius: 0;
    border-color: transparent;
    transform: rotate(var(--rotation, 0deg));
    box-shadow: none;
}

.tile.reversed.reveal > .tile-inner {
    transform:
        scaleX(-1)
        rotate(var(--rotation));
}

dialog, .send-message {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.125rem;
    background: white;
    border: 0;
    border-radius: 0;
    z-index: 100;
    transform: translateY(-100vh);
    transition: transform 1s ease;
}

.menu {
    inset: 0;
    width: 100%;
    max-width: unset; max-height: unset;
}

dialog[open] {
    transform: translateY(0vh);
}

dialog > * {
    width: 100%;
    text-align: center;
}

.info {
    position: relative;
    height: var(--info-height);
    text-align: left;
    transform-style: preserve-3d;
    perspective: 500px;
}

.info > ul {
    position: absolute;
    top: 0;
    left: 2rem;
    transform: rotateY(var(--initial-rotation));
    transform-origin: center center -5rem;
    opacity: 0;
    transition: transform 500ms ease,
                opacity 250ms ease;
}

.info > ul.active {
    transform: rotateY(0deg);
    opacity: 1;
}

.info > ul.deactivating {
    transform: rotateY(90deg);
}

dialog > h3 {margin: 0; height: fit-content;}

button, a.send-message-btn {
    margin: auto auto 0 auto;
    padding: 0.5rem 1.5rem;
    font-size: 1.75rem;
    width: fit-content;
    font-family: inherit;
    color: black;
    background: linear-gradient(white, rgb(230, 230, 230));
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: .5rem;
}

a.send-message-btn {
    margin: unset;
    margin-inline: auto;
    text-decoration: none;
    font-size: 1.5rem;
}

.card-container {
    padding: 1.125rem 1.5rem;
    position: fixed;
    inset: 1rem;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    max-height: 30em;
    border-radius: .5rem;
    z-index: 1;
    overflow: auto;
    background: rgb(236, 236, 236);
    box-shadow: inset 0 0.25rem 0.5rem rgba(0,0,0,0.2),
                0 0.75rem 0.5rem -0.5rem rgba(0,0,0,0.2);
}

.card.wrapper {
    pointer-events: none;
    position: fixed;
    transform: translateY(-100vh);
    inset: 0;
    z-index: 50;
    transition: 500ms 1s ease transform;
}

.card.wrapper.active {
    pointer-events: all;
    transform: translateY(0vh);
}

.card.wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(
        330deg,
        hsl(252deg 100% 47%) 0%,
        hsl(284deg 100% 42%) 29%,
        hsl(306deg 100% 40%) 43%,
        hsl(321deg 100% 45%) 57%,
        hsl(329deg 100% 48%) 71%,
        hsl(335deg 100% 50%) 100%
    );
    filter: brightness(0.5);
    mix-blend-mode: screen;
}

.card.wrapper::after {
    content: '';
    position: absolute;
    inset: -1.5rem;
    z-index: -1;
    filter: blur(0.5rem);
    background: var(--bg-image);
    background-size: cover;
}

.card-container > button {
    font-size: 1.5rem;
}

.card-container > p {
    font-size: 1.125rem;
}

.end-game {
    margin: auto;
    
    height: fit-content;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.3),
                0 0 0 0vw rgba(0,0,0,0);
    transition: 1s ease all;
    z-index: 1000;
}

.end-game[open] {
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.3),
                0 0 0 120vw rgba(0,0,0,0.2);
}

dialog::backdrop {
    background: transparent;
}

.restart {display: none}
.restart.active {display: flex}

.end-game > button {font-size: 1.4rem}

.controls {
    justify-content: center; 
    gap: 1rem;
    opacity: 0;
    pointer-events: none;
}

.controls.active {
    opacity: 1;
    pointer-events: all;
}

.controls > button {
    font-size: 1.125rem;
    margin: 0;
    padding: .25rem .75rem;
}

.send-message {
    justify-content: center;
    height: fit-content;
    inset: unset;
    bottom: 0;
    width: 100%;
    max-height: fit-content;
    transform: translateY(100vh);
    box-shadow: 0rem 1rem 3rem 3rem white;
    text-align: center;
    gap: 2rem;
}

.send-message.active {transform: translateY(0vh);}

.send-message > h2 {
    font-size: 1.5rem;
}

@media (min-width: 680px) {
    .wrapper {
        margin: auto;
        width: 680px;
        height: 100vh;
        gap: 3em;
        justify-content: center;
    }

    .menu {
        inset: 0;
        left: 50%;
        translate: -50% 0%;
        width: 100%;
        max-width: 40em;
        align-items: center;
    }

    .menu > .slider > .thumb-track {
        transition: filter 500ms ease,
        background 500ms ease,
        left 0ms ease;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 90%;
    }

    ul > li, .menu > span, .card-container p {font-size: 1rem;}

    .difficulties > span {font-size: 3rem;}

}