@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --initial-rotation: 0deg;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.75rem;
}

.tiles {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    perspective: 400px;
}

.tiles > .tile::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg-colour);
    mix-blend-mode: screen;
    transition: all 3s ease;
    z-index: 1;
}

.tiles > .tile {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: .25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-size: 2rem;

    border: 1px solid;
    background-size: var(--image-size);
    background-position: var(--tile-offset);
    background-repeat: repeat-x;

    cursor: pointer;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 3s ease;
}

.tile::after {
    content: '';
    position: absolute;
    inset: 0;

    background: red;
    border-radius: .5rem;

    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.tile.reveal {
    border-radius: 0rem;
    border-color: rgba(0,0,0,0);
    scale: 1.03;
}

.tile:not(.reversed) {
    transform: rotate(var(--rotation));
}

.reversed.reveal {
    transform: scaleX(-1) rotate(var(--rotation));
}

dialog {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.125rem;
    background: white;
    border: 0;
    border-radius: 0;
    z-index: 100;
    transform: translateY(-100vh);
    transition: transform 1s ease;
}

dialog:open {
    transform: translateY(0vh);
}

dialog > * {
    width: 100%;
    text-align: center;
}

.info {
    position: relative;
    height: var(--info-height);
    text-align: left;
    transform-style: preserve-3d;
    perspective: 500px;
}

.info > ul {
    position: absolute;
    top: 0;
    left: 2rem;
    transform: rotateY(var(--initial-rotation));
    transform-origin: center center -5rem;
    opacity: 0;
    transition: transform 500ms ease,
                opacity 250ms ease;
}

.info > ul.active {
    transform: rotateY(0deg);
    opacity: 1;
}

.info > ul.deactivating {
    transform: rotateY(90deg);
}

dialog > h3 {margin: 0; height: fit-content;}

.start-game {
    margin: auto auto 0 auto;
    padding: 0.5rem 1.5rem;
    font-size: 1.75rem;
    width: fit-content;
    font-family: inherit;
    color: black;
    background: linear-gradient(white, rgba(0, 0, 0, 0.2));
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: .5rem;
}