@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.75rem;
}

.tiles {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    perspective: 400px;
}

.tiles > .tile {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: .25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    font-size: 2rem;

    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);
    background-size: var(--image-size);
    background-position: var(--tile-offset);
    background-repeat: repeat-x;

    cursor: pointer;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 3s ease;
}

.tile::after {
    content: '';
    position: absolute;
    inset: 0;

    background: red;
    border-radius: .5rem;

    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.tile.reveal {
    border-radius: 0rem;
    border-color: rgba(0,0,0,0);
    scale: 1.01;
}

.tile:not(.reversed) {
    transform: rotate(var(--rotation));
}

.reversed.reveal {
    transform: scaleX(-1) rotate(var(--rotation));
}

dialog {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.125rem;
    z-index: 100;
    background: white;
    border: 0;
    border-radius: 0;
}

dialog > * {
    width: 100%;
    text-align: center;
}

.difficulties {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 1.5em;
    margin-bottom: -1.5rem;
    overflow: hidden;
    font-size: 3rem;
    perspective: 200px;
    transform-style: preserve-3d;
}

.difficulties > span {
    width: 100%;
    position: absolute;
    transform: rotateX(-90deg);
    opacity: 0;
    transform-origin: center center -1.5rem;
    transition: 500ms ease all;
}

.difficulties > span.active {
    transform: rotateX(0deg);
    opacity: 1;
}

.difficulties > span.deactivating {
    transform: rotateX(90deg);
}

.slider {
    position: relative;
    margin-block: 1rem;
    height: 1.25rem;
    background: rgb(235, 235, 235);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
}

.slider > .thumb-track {
    position: absolute;
    touch-action: none;
    left: 20px;
    transform: translate(-50%, -50%);
    height: 3.25rem;
    top: .4rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background: rgb(255, 116, 116);
    filter: hue-rotate(95deg);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 0.3rem white;
    transition: filter 500ms ease,
                left 250ms ease;
}